<head>
  <meta name="description" content="Real-time Q&amp;A system for yale classes"/>
  <meta name="keywords" content="yale, yale SOM, q&amp;A" />
  <meta name="author" content="Yale School of Management">
  <meta name="zipcode" content="06510">
  <meta name="city" content="New Haven">
  <meta name="state" content="Connecticut">
  <meta name="ICBM" content= "41.3081, 72.9286">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<template name="header">

  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</template>